
<% if current_user.id == message.sender_id %>
<%= message.sender.name %></strong>
</small>
<p><%= message.content %></p>
<% else %>
<div class="chat-body clearfix">
  <div class="header">
    <%= message.sender.name %>
      <span class="glyphicon">sent at <%= std_format_date(message.created_at) %></span>
    </small>
  </div>
  <p class="pull-left"><%= message.content %></p>
</div>
</li>
<% end %>

