<% chat_partner = @match_user.other_user(current_user) %>

<h1>Chat with <%= link_to chat_partner.name, user_path(chat_partner)%>!</h1>

<div id="chat-messages">
   <%= render @conversation.messages %>
</div>

<div id='message-bar'>
<h2> Submit a new message:</h2>
<%= form_for @message, remote: true, url: messages_path do |f| %>
Content: <%=f.text_area :content%>
<%= f.hidden_field :match_user_id, value: @match_user.id%>
<%= f.hidden_field :conversation_id, value: @conversation.id%>
<%= f.submit "Send"%>
<%end%>
</div>
<%= subscribe_to conversation_path(@conversation) %>
