  <% @all_messages.each do |message| %>
    <% if current_user.name == message.user.name %>
          <strong class="primary-font"><%= message.user.name %></strong>
              <span class="glyphicon glyphicon-time"></span>sent at <%= std_format_date(message.created_at) %>
            </small>
        </div>
        <p class="pull-left"><%= message.content %></p>
      </div>
    <% else %>
    <div class="chat-body clearfix">
      <div class="header">
        <strong class="primary-font"><%= message.user.name %></strong>
          <small class=" text-muted">
            <span class="glyphicon glyphicon-time"></span>sent at <%= std_format_date(message.created_at) %>
          </small>
      </div>
      <p class="pull-left"><%= message.content %></p>
    </div>
  </li>
  <% end %>
<% end %>
