<div id="chat">
<%= render @conversation.messages %>
</div>

<h2> Submit a new message:</h2>
<%= form_for @message, remote: true, url: messages_path do |f| %>
Content: <%=f.text_field :content%>
<%= f.hidden_field :match_user_id, value: @match_user.first.id%>
<%= f.hidden_field :conversation_id, value: @conversation.id%>
<%= f.submit "Send"%>
<%end%>

<%= subscribe_to conversation_path(@conversation) %>
