<h1>Welcome to <%=@user.name%>'s profile!</h1>
<% if @user == current_user %>
<%= link_to 'edit', edit_user_path(@user) %>
<% end %>

<h2><%=@user.name%>'s profile details below:</h2>
<ul>
  <li>AGE: <%=@user.age%></li>
  <li>BACKGROUND: <%=@user.background_information%></li>
  <li>INTERESTS: <%=@user.interests%></li>
  <li>WILLING TO PAY: <%=@user.is_desperate%></li>
</ul>

<h2> Here are restaurants <%=@user.name%> has matched with!</h2>
<ul>
  <% @match_restaurants.each do |match_restaurant|%>
  <li><%= link_to match_restaurant.restaurant.name, match_restaurant_path(match_restaurant.id)%></li>
  <%end%>
</ul>
<h3> Here are users <%=@user.name%> has matched with!</h3>
<ul>
<% @user_swipes_as_swiper.each do |swipe|%>
  <li><%=link_to swipe.swipee.name, user_path(swipe.swipee.id)%></li>
<%end%>
<% @user_swipes_as_swipee.each do |swipe_two|%>
  <li><%=link_to swipe_two.swiper.name, user_path(swipe_two.swiper.id)%></li>
<%end%>
</ul>
