<h1> Filtered Restaurants</h1>
<% @filtered_restaurants.each do |restaurant| %>
  <ul>
  <li>Name:<%= restaurant.name%></li>
    <li>Cuisine:<%= restaurant.cuisine%></li>
    <li> Address:<%= restaurant.address%> </li>
    <li>Average_rating: <%= restaurant.average_rating%> </li>
    <li> Phone:<%= restaurant.phone%> </li>
    <li>Image URL: <a href="<%=restaurant.image_url%>">Click for image</a></li>
  </ul>
  <%end%>

