<!DOCTYPE html>
<html>
<head>
  <title>OKLunch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='main'>
    <% if flash.any?  %>
    <div id="flash-container">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash-#{name}" %>
      <% end %>
    </div>
    <% end %>

    <div id="heading">
      <div id = "logo">
        <%= link_to image_tag("oklunch.png", size:"200x125"), root_path %>
      </div>

      <div id="user_nav">
        <% if current_user %>
          Signed in as <strong><%= link_to current_user.name, user_path(current_user.id) %></strong>!
          <%= image_tag current_user.image %>
          <%= link_to "Sign out", logout_path, id: "sign_out" %>
        <% else %>
         <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
        <%= link_to 'Home', restaurants_path %>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
